{% extends "base.html" %}
{% block body %}
  <body>
    <h1 style="text-align:center;">BST maxSum Calculator</h1>
    <div class="box">
      <h1>Log In</h1>
      <form action="/login" method="post" id="login">
        <input type="text" name="username" id="username" placeholder="Username" required/>
        <br>
        <input type="password" name="password" id="password" placeholder="Password" required/>
        <br>
        <input type="submit" class="button" value="Log In"/>
      </form>
      <div class="msg">
        <p>Not a user? <a href='/'>Register</a></p>
      </div>
    </div>
  </body>
{% endblock %}
